.footer{
    background: var(--gray-800);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.footer p{
    font-size: 0.7rem;
    color: var(--red-50);
    font-weight: bold;
    text-align: center;
}
.footer p:hover{
    color: var(--white);
}
.icon:hover{
    color: var(--white);
    cursor: pointer;
}
.rightColum{
    display: flex;
    align-items: center;
}
.leftColum{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 550px){
    .leftColum{
        display: none;
    }
    .footer p{
        font-size: 0.4rem;
    }
}
